


<div class="head">

    <div id="fb">
      <div id="fb-top">
        <p><b>Information</b><span> &bull; </span></p>
      </div>
      <div class="card-body">
        <table id="emp">
          <tr>
            <td>Date of Joining</td>
            <td>{{maininformation.dateOfJoining?maininformation.dateOfJoining:"05/07/12"}}</td>
          </tr>
          <tr>
            <td>Date of Leaving</td>
            <td>{{maininformation.dateOfLeaving?maininformation.dateOfLeaving:"17/05/2020"}}</td>
          </tr>
          <tr>
            <td>Initial Salary(salary at appointment)</td>
            <td>{{maininformation.initialSalary?maininformation.initialSalary:12000}}</td>
          </tr>
          <tr>
            <td>Current Package</td>
            <td>{{maininformation.currentSalary?maininformation.currentSalary:70000}}</td>
          </tr>
          <tr>
            <td>Reason To Leave</td>
            <td>{{maininformation.reasonToLeave?maininformation.reasonToLeave:"Shifting to different place"}}</td>
          </tr>
          <tr>
            <td>Avoids gossip</td>
            <td>{{information.avoidGossip}}</td>
          </tr>
          <tr>
            <td>Team player</td>
            <td>{{information.teamPlayer}}</td>
          </tr>
          <tr>
            <td>Communicates well</td>
            <td>{{information.communicatesWell}}</td>
          </tr>
          <tr>
            <td>Disciplined</td>
            <td>{{information.disciplined}}</td>
          </tr>
          <tr>
            <td>Punctual</td>
            <td>{{information.punctual}}</td>
          </tr>
          <tr>
            <td>Driven to succeed</td>
            <td>{{information.drivenToSucceed}}</td>
          </tr>
          <tr>
            <td>Readily adaptable</td>
            <td>{{information.readilyAdaptable}}</td>
          </tr>
          <tr>
            <td>Has initiative</td>
            <td>{{information.hasInitiative}}</td>
          </tr>
          <tr>
            <td>Forthright and honest</td>
            <td>{{information.ForthrightandHonest}}</td>
          </tr>
          <tr>
            <td>Can lead</td>
            <td>{{information.canLead}}</td>
          </tr>
          <tr>
            <td>Detail-oriented</td>
            <td>{{information.detailOriented}}</td>
          </tr>
          <tr>
            <td>Energetic and enthusiastic</td>
            <td>{{information.energeticandEnthusiastic}}</td>
          </tr>
          <tr>
            <td>Welcomes challenges</td>
            <td>{{information.welcomesChallenges}}</td>
          </tr>
          <tr>
            <td>Remains optimistic</td>
            <td>{{information.remainsOptimistic}}</td>
          </tr>
          <tr>
            <td>Goes above and beyond</td>
            <td>{{information.goesAboveandBeyond}}</td>
          </tr>
          <tr>
            <td>Dependable</td>
            <td>{{information.dependable}}</td>
          </tr>
          <tr>
            <td>Strong work ethic</td>
            <td>{{information.strongWorkethic}}</td>
          </tr>
          <tr>
            <td>Gets things done on time</td>
            <td>{{information.getsthingsDoneOnTime}}</td>
          </tr>
          <tr>
            <td>Constantly improving their skills</td>
            <td>{{information.constantlyImprovingtheirSkills}}</td>
          </tr>
          <tr>
            <td>Puts in necessary hours</td>
            <td>{{information.putsinNecessaryhHours}}</td>
          </tr>
          <tr>
            <td>Professional</td>
            <td>{{information.professional}}</td>
          </tr>
          <tr>
            <td>Can prioritize and organize</td>
            <td>{{information.canprioritizeAndOrganize}}</td>
          </tr>
          <tr>
            <td>Respects others</td>
            <td>{{information.respectsoOthers}}</td>
          </tr>
          <tr>
            <td>Overcomes obstacles</td>
            <td>{{information.overcomesObstacles}}</td>
          </tr>
          <tr>
            <td>Follows trends</td>
            <td>{{information.followsTrends}}</td>
          </tr>
          <tr>
            <td>Reliable and responsible</td>
            <td>{{information.reliableandResponsible}}</td>
          </tr>
          <tr>
            <td>Actively supports company goals</td>
            <td>{{information.activelySupportsCompanyGoals}}</td>
          </tr>
          <tr>
            <td>Involved with company events</td>
            <td>{{information.involvedWithCompanyEvents}}</td>
          </tr>
          <tr>
            <td>Grounded and humble</td>
            <td>{{information.groundedandHumble}}</td>
          </tr>
          <tr>
            <td>Inspires others</td>
            <td>{{information.inspiresOthers}}</td>
          </tr>
          <tr>
            <td>Provides fresh ideas</td>
            <td>{{information.providesFreshideas}}</td>
          </tr>
          <tr>
            <td>Personal values align with company values</td>
            <td>{{information.personalValuesAlignwithCompanyValues}}</td>
          </tr>
          <tr>
            <td>Personable</td>
            <td>{{information.personable}}</td>
          </tr>
          <tr>
            <td>Handles pressure well</td>
            <td>{{information.handlesPressureWell}}</td>
          </tr>
          <tr>
            <td>Marketable for clients</td>
            <td>{{information.marketableforClients}}</td>
          </tr>
          <tr>
            <td>Attentive listener</td>
            <td>{{information.attentiveListener}}</td>
          </tr>
          <tr>
            <td>Motivates others</td>
            <td>{{information.motivatesOthers}}</td>
          </tr>
          <tr>
            <td>Takes responsibility</td>
            <td>{{information.takesResponsibility}}</td>
          </tr>
          <tr>
            <td>Varies tasks willingly</td>
            <td>{{information.variesTasksWillingly}}</td>
          </tr>
          <tr>
            <td>Relatable</td>
            <td>{{information.relatable}}</td>
          </tr>
          <tr>
            <td>Articulate</td>
            <td>{{information.articulate}}</td>
          </tr>
          <tr>
            <td>Mentions concerns</td>
            <td>{{information.mentionsConcerns}}</td>
          </tr>
          <tr>
            <td>Appreciates constructive criticism</td>
            <td>{{information.appreciatesConstructiveCriticism}}</td>
          </tr>
          <tr>
            <td>Tech-savvy</td>
            <td>{{information.Techsavvy}}</td>
          </tr>
          <tr>
            <td>Quick adaptation to role</td>
            <td>{{information.Quickadaptationtorole}}</td>
          </tr>
          <tr>
            <td>Interacts effectively</td>
            <td>{{information.interactseffectively}}</td>
          </tr>
          <tr>
            <td>Able to vary role</td>
            <td>{{information.abletovaryrole}}</td>
          </tr>
          <tr>
            <td>Bends over backward</td>
            <td>{{information.bendsOverBackward}}</td>
          </tr>
          <tr>
            <td>Speaks their mind</td>
            <td>{{information.speakstheirMind}}</td>
          </tr>
          <tr>
            <td>Just nice</td>
            <td>{{information.justnice}}</td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="btn btn-danger" (click)="remove(information.confidentialid)" id="btnsuccess1">Cancel</button>
            </td>
          </tr>


        </table>
      </div>

    </div>

</div>
<!--<div class="card-body">
  <table id="emp">
    <tr>
      <td>Date of Joining</td>
      <td>{{maininformation.dateOfJoining?maininformation.dateOfJoining:"05/07/12"}}</td>
    </tr>
    <tr>
      <td>Date of Leaving</td>
      <td>{{maininformation.dateOfLeaving?maininformation.dateOfLeaving:"17/05/2020"}}</td>
    </tr>
    <tr>
      <td>Initial Salary(salary at appointment)</td>
      <td>{{maininformation.initialSalary?maininformation.initialSalary:12000}}</td>
    </tr>
    <tr>
      <td>Current Package</td>
      <td>{{maininformation.currentSalary?maininformation.currentSalary:70000}}</td>
    </tr>
    <tr>
      <td>Reason To Leave</td>
      <td>{{maininformation.reasonToLeave?maininformation.reasonToLeave:"Shifting to different place"}}</td>
    </tr>
    <tr>
      <td>Avoids gossip</td>
      <td>{{information.avoidGossip}}</td>
    </tr>
    <tr>
      <td>Team player</td>
      <td>{{information.teamPlayer}}</td>
    </tr>
    <tr>
      <td>Communicates well</td>
      <td>{{information.communicatesWell}}</td>
    </tr>
    <tr>
      <td>Disciplined</td>
      <td>{{information.disciplined}}</td>
    </tr>
    <tr>
      <td>Punctual</td>
      <td>{{information.punctual}}</td>
    </tr>
    <tr>
      <td>Driven to succeed</td>
      <td>{{information.drivenToSucceed}}</td>
    </tr>
    <tr>
      <td>Readily adaptable</td>
      <td>{{information.readilyAdaptable}}</td>
    </tr>
    <tr>
      <td>Has initiative</td>
      <td>{{information.hasInitiative}}</td>
    </tr>
    <tr>
      <td>Forthright and honest</td>
      <td>{{information.ForthrightandHonest}}</td>
    </tr>
    <tr>
      <td>Can lead</td>
      <td>{{information.canLead}}</td>
    </tr>
    <tr>
      <td>Detail-oriented</td>
      <td>{{information.detailOriented}}</td>
    </tr>
    <tr>
      <td>Energetic and enthusiastic</td>
      <td>{{information.energeticandEnthusiastic}}</td>
    </tr>
    <tr>
      <td>Welcomes challenges</td>
      <td>{{information.welcomesChallenges}}</td>
    </tr>
    <tr>
      <td>Remains optimistic</td>
      <td>{{information.remainsOptimistic}}</td>
    </tr>
    <tr>
      <td>Goes above and beyond</td>
      <td>{{information.goesAboveandBeyond}}</td>
    </tr>
    <tr>
      <td>Dependable</td>
      <td>{{information.dependable}}</td>
    </tr>
    <tr>
      <td>Strong work ethic</td>
      <td>{{information.strongWorkethic}}</td>
    </tr>
    <tr>
      <td>Gets things done on time</td>
      <td>{{information.getsthingsDoneOnTime}}</td>
    </tr>
    <tr>
      <td>Constantly improving their skills</td>
      <td>{{information.constantlyImprovingtheirSkills}}</td>
    </tr>
    <tr>
      <td>Puts in necessary hours</td>
      <td>{{information.putsinNecessaryhHours}}</td>
    </tr>
    <tr>
      <td>Professional</td>
      <td>{{information.professional}}</td>
    </tr>
    <tr>
      <td>Can prioritize and organize</td>
      <td>{{information.canprioritizeAndOrganize}}</td>
    </tr>
    <tr>
      <td>Respects others</td>
      <td>{{information.respectsoOthers}}</td>
    </tr>
    <tr>
      <td>Overcomes obstacles</td>
      <td>{{information.overcomesObstacles}}</td>
    </tr>
    <tr>
      <td>Follows trends</td>
      <td>{{information.followsTrends}}</td>
    </tr>
    <tr>
      <td>Reliable and responsible</td>
      <td>{{information.reliableandResponsible}}</td>
    </tr>
    <tr>
      <td>Actively supports company goals</td>
      <td>{{information.activelySupportsCompanyGoals}}</td>
    </tr>
    <tr>
      <td>Involved with company events</td>
      <td>{{information.involvedWithCompanyEvents}}</td>
    </tr>
    <tr>
      <td>Grounded and humble</td>
      <td>{{information.groundedandHumble}}</td>
    </tr>
    <tr>
      <td>Inspires others</td>
      <td>{{information.inspiresOthers}}</td>
    </tr>
    <tr>
      <td>Provides fresh ideas</td>
      <td>{{information.providesFreshideas}}</td>
    </tr>
    <tr>
      <td>Personal values align with company values</td>
      <td>{{information.personalValuesAlignwithCompanyValues}}</td>
    </tr>
    <tr>
      <td>Personable</td>
      <td>{{information.personable}}</td>
    </tr>
    <tr>
      <td>Handles pressure well</td>
      <td>{{information.handlesPressureWell}}</td>
    </tr>
    <tr>
      <td>Marketable for clients</td>
      <td>{{information.marketableforClients}}</td>
    </tr>
    <tr>
      <td>Attentive listener</td>
      <td>{{information.attentiveListener}}</td>
    </tr>
    <tr>
      <td>Motivates others</td>
      <td>{{information.motivatesOthers}}</td>
    </tr>
    <tr>
      <td>Takes responsibility</td>
      <td>{{information.takesResponsibility}}</td>
    </tr>
    <tr>
      <td>Varies tasks willingly</td>
      <td>{{information.variesTasksWillingly}}</td>
    </tr>
    <tr>
      <td>Relatable</td>
      <td>{{information.relatable}}</td>
    </tr>
    <tr>
      <td>Articulate</td>
      <td>{{information.articulate}}</td>
    </tr>
    <tr>
      <td>Mentions concerns</td>
      <td>{{information.mentionsConcerns}}</td>
    </tr>
    <tr>
      <td>Appreciates constructive criticism</td>
      <td>{{information.appreciatesConstructiveCriticism}}</td>
    </tr>
    <tr>
      <td>Tech-savvy</td>
      <td>{{information.Techsavvy}}</td>
    </tr>
    <tr>
      <td>Quick adaptation to role</td>
      <td>{{information.Quickadaptationtorole}}</td>
    </tr>
    <tr>
      <td>Interacts effectively</td>
      <td>{{information.interactseffectively}}</td>
    </tr>
    <tr>
      <td>Able to vary role</td>
      <td>{{information.abletovaryrole}}</td>
    </tr>
    <tr>
      <td>Bends over backward</td>
      <td>{{information.bendsOverBackward}}</td>
    </tr>
    <tr>
      <td>Speaks their mind</td>
      <td>{{information.speakstheirMind}}</td>
    </tr>
    <tr>
      <td>Just nice</td>
      <td>{{information.justnice}}</td>
    </tr>



  </table>
</div>-->
