<div class="head">
  <div *ngFor=" let empe of employee">
    <div class="container mt-6" style="width: 900px">
      <h2>Anonymous</h2>
      <p></p>
      <div class="media border p-3">
        <img src="../../../../assets/images/employer/mono.png" alt="" class="mr-3 ml-4 mt-6 rounded-circle" style="width:100px; height: 150px;">
        <div class="media-body">
          <h4>Good</h4>
          <ul>
            <div *ngFor="let good of empe.good">
              <li>{{good}}</li>
            </div>
          </ul>
          <h4>Bad</h4>
          <ul>
            <div *ngFor="let bad of empe.bad">
              <li>{{bad}}</li>
            </div>
          </ul>
          <h4>Position</h4>
          <ul>
              <li>{{empe.position}}</li>
          </ul>
          <h4>Rating</h4>
          <ul>
            <li>{{empe.rating}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor=" let empr of employer">
    <div class="container mt-6" style="width: 900px">
      <h2>Anonymous</h2>
      <p></p>
      <div class="media border p-3">
        <img src="../../../../assets/images/employee/avatarreview.jpg" alt="" class="mr-4 mt-6 ml-4 rounded-circle" style="width:100px; height:150px;">
        <div class="media-body">
          <h4>Good</h4>
          <ul>
            <li>{{empr.good}}</li>
          </ul>
          <h4>Bad</h4>
          <ul>
            <li>{{empr.bad}}</li>
          </ul>
          <h4>Review</h4>
          <ul>
            <li>{{empr.review}}</li>
          </ul>
          <!--<h4>Position</h4>
          <ul>
            <li>{{empr.position}}</li>
          </ul>-->
          <h4>Rating</h4>
          <ul>
            <li>{{empr.rating}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<!--
<div class="fluid-container" style="margin-top: 150px;">
  <div class="row">
    <div class="col-4 offset-1">
      <div class="head">
        <div *ngFor=" let empe of employee">
        <div class="bgset">
          <div class="card-body">
            <table id="emp">
              <tr>
                <td>Good</td>
                <td>{{empe.good | json}}</td>
              </tr>
              <tr>
                <td>Bad</td>
                <td>{{empe.bad | json}}</td>
              </tr>
              <tr>
                <td>Position</td>
                <td>{{empe.position}}</td>
              </tr>
              <tr>
                <td>Rating</td>
                <td>{{empe.rating}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-4 offset-1">
     <div class="head">
      <div *ngFor=" let empr of employer">
        <div class="bgset">
          <div class="card-body">
            <table id="emp">
              <tr>
                <td>Good</td>
                <td>{{empr.good | json}}</td>
              </tr>
              <tr>
                <td>Bad</td>
                <td>{{empr.bad | json}}</td>
              </tr>
              <tr>
                <td>Rating</td>
                <td>{{empr.rating}}</td>
              </tr>
              <tr>
                <td>Position</td>
                <td>{{empr.position}}</td>
              </tr>
              <tr>
                <td>Review</td>
                <td>{{empr.review | json}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
-->
