<div class="para">
  <div class="row">
    <div class="col-8 offset-2">
      <pre>{{message}}</pre>
      <div class="form-group row">
        <form [formGroup]="myForm">
          <div class="form-group">
            <input [ngClass]="{'is-invalid': submitted && myForm.controls.password.errors}" placeholder="Current Password" type="password" formControlName="currentpassword" required class="form__input" />
            <div *ngIf="submitted && myForm.controls.currentpassword.errors">
              <div *ngIf="submitted && myForm.controls.currentpassword.errors.required" class="text-danger">
                Password is must
              </div>
              <div *ngIf="submitted && myForm.controls.currentpassword.errors.currentpassword">
                You must Enter Password in the combination of A@a1#
              </div>
            </div>
          </div>
          <!--new-->
          <div class="form-group">
            <input [ngClass]="{'is-invalid': submitted && myForm.controls.password.errors}" type="password" placeholder="New Password" formControlName="newpassword" required class="form__input" />
            <div *ngIf="submitted && myForm.controls.newpassword.errors">
              <div *ngIf="submitted && myForm.controls.newpassword.errors.required" class="text-danger">
                Password is must
              </div>
              <div *ngIf="submitted && myForm.controls.newpassword.errors.newpassword">
                You must Enter Password in the combination of A@a1#
              </div>
            </div>
          </div>
          <!--retype-->
          <div class="form-group">
            <input [ngClass]="{'is-invalid': submitted && myForm.controls.retypenewpassword.errors}" placeholder="Re-type New Password" type="password" formControlName="retypenewpassword" required class="form__input" />
            <div *ngIf="submitted && myForm.controls.retypenewpassword.errors">
              <div *ngIf="submitted && myForm.controls.retypenewpassword.errors.required" class="text-danger">
                Password is must
              </div>
              <div *ngIf="submitted && myForm.controls.retypenewpassword.errors.retypenewpassword">
                You must Enter Password in the combination of A@a1#
              </div>
            </div>
          </div>
        </form>
        <button class="btn btn-success" (click)="change()">Change Password</button>
      </div>
    </div>
  </div>
</div>
